@font-face{
    font-family: 'Fira Code';
    src: url('src/fonts/FiraCode-Medium.eot');
    src: url('src/fonts/FiraCode-Medium.eot') format('embedded-opentype'),
         url('src/fonts/FiraCode-Medium.woff2') format('woff2'),
         url('src/fonts/FiraCode-Medium.woff') format('woff'),
         url('src/fonts/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('src/fonts/fontawesome-webfont.eot');
    src: url('src/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
         url('src/fonts/fontawesome-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style:normal;
}

/* Fira Sans */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Fira Sans ExtraLight'), local('FiraSans-ExtraLight'), url(src/fonts/FiraSans-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(src/fonts/FiraSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url(src/fonts/FiraSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans SemiBold'), local('FiraSans-SemiBold'), url(src/fonts/FiraSans-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(src/fonts/FiraSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 200;
  src: local('Fira Sans ExtraLight Italic'), local('FiraSans-ExtraLightItalic'), url(src/fonts/FiraSans-ExtraLightItalic.ttf) format('truetype');
}
