@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'), url(src/AlegreyaSansSC.ttf) format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Light'), local('JosefinSans-Light'), url(src/JosefinSans.ttf) format('truetype');
}
