@font-face{
    font-family: 'Fira Code';
    src: url('src/fonts/FiraCode-Medium.eot');
    src: url('src/fonts/FiraCode-Medium.eot') format('embedded-opentype'),
         url('src/fonts/FiraCode-Medium.woff2') format('woff2'),
         url('src/fonts/FiraCode-Medium.woff') format('woff'),
         url('src/fonts/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('src/fonts/fontawesome-webfont.eot');
    src: url('src/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
         url('src/fonts/fontawesome-webfont.woff2') format('woff2');
    font-weight:normal;
    font-style:normal;
}

/* TODO: Fira Sans */
