* {
    box-sizing: border-box;
}

body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Fira Sans";
}

header {
    text-align: center;
    padding-bottom: 4em;
    margin-top: 8em;
    border-bottom: 1px solid #747272;
}

header h1 {
    font-weight: 600; /* semi-bold */
    font-size: 4em;
}

header div {
    background-color: #747474;
    border-radius: 10px;
    width: 43%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    font-family: "Fira Code";
    color: #fff;
    font-size: 2em;
    text-align: left;
}

body div {
    display: flex;
}

article {
    vertical-align: top;
    margin: 0 auto;
}

article h2 {
    font-weight: medium;
    font-size: 2em;
}

article ul {
    font-weight: 200;
    font-size: 1.3em;
    color: #333;
}

article li {
    margin-bottom: 5px;
}

article strong {
    font-weight: 400; /* regular */
}
