body {
    background:#f3f3f3;
    text-align:center;
    margin-top:10%;
    margin-bottom:5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
    color:#114488;
    text-shadow: 0px 2px 3px #0d2f5d; 
    letter-spacing: normal;
}

a.mail:link {
    letter-spacing: 0.1vw;
    text-decoration: none;
    color: black;
}
a.mail:visited {
    letter-spacing: 0.1vw;
    text-decoration: none;
    color: black;
}
a.mail:unvisited {
    letter-spacing: 0.1vw;
    text-decoration: none;
    color: black;
}
a.mail:hover {
    letter-spacing: 0.1vw;
    text-decoration: none;
    color: black;
}

#box {
    background:#fff;
    max-width:35%;
    margin:auto;
    border:1px solid #DDDDDD;
    padding:5% 10% 5% 10%;
}

#badge {
    bottom: 20px;
    position: fixed;
    vertical-align: middle;
    display: 
}

#footer {
    bottom: 20px;
    position: fixed;
    width: 100%;
    text-align: center;
}
